html {
  font: normal 12px Tahoma, Verdana, Arial, sans-serif;
}

.options fieldset{
  width:auto;
  float:left;
  background-color: lightgray;
}

.chip1 {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: auto;
  box-shadow: 3px 3px rgb(0, 0, 0);
}

.chip0 {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin: auto;
  box-shadow: 3px 3px rgb(0, 0, 0);
}
 
#connect_4_table td{
  padding:10px;
  border: 1px transparent;
}

#connect_4_table {
  /* background-color: rgb(25, 25, 158); */
  margin: auto;
}

.darken{
  filter: brightness(75%);
  transition: .25s ease;
}

.hilight{
  filter: brightness(2) saturate(2);
  border: 1px solid white;
}


#player_color_table {
  width: 100%;
}

.red {
  background-color: rgb(223, 0, 0);
}
.blue {
  background-color: rgb(88, 88, 255);
}
.yellow {
  background-color: rgb(255, 216, 23);
}
.purple {
  background-color: rgb(170, 108, 228);
}

.empty_space {
  width: 50px;
  height: 50px;
  background: rgb(0, 0, 0, 0.25);
  border-radius: 50px;
  margin: auto;
  box-shadow: 2px 2px 2px rgb(255, 255, 255, .5);
}

.display {
  width: 30%;
  height: 1000px;
  float: right;
  background-color: lightgray;
  padding: 20px;
  margin: 0 20px;
}

.select_options {
  background-color: gray;
  padding: 20px;
  margin: 10px;
}

/* #start_btn{
    border-radius: 10px;
    background-color: green;
    font-size: 20px;
    font-weight: bold;
    padding:20px;
    width:100%;
} */
