.chip1{
    width: 50px;
    height: 50px;
    /* background: rgb(228, 0, 0); */
    border-radius: 50px;
    margin: auto;
    box-shadow: 3px 3px rgb(0, 0, 0); 
}

.chip0{
    width: 50px;
    height: 50px;
    background: rgb(251, 255, 0);
    border-radius: 50px;
    margin: auto;
    box-shadow: 3px 3px rgb(0, 0, 0); 
}


td{
    width: 100px;
    height: 100px;
}
    
#connect_4_table{ 
    background-color: rgb(25, 25, 158);
    border: 1px solid rgb(0, 0, 0);
    margin:auto;
}

#player_color_table{
    width: 40%;
}

.red{
    background-color: red;
}
.lightblue{
    background-color: lightblue;
}
.yellow{
    background-color: yellow;
}
.purple{
    background-color: purple;
}

.empty_space{
    width: 50px;
    height: 50px;
    background: rgb(0, 0, 0, .5);
    border-radius: 50px;
    margin: auto;
    box-shadow: 2px 2px 2px lightblue;   
}

.display{
    width:30%;
    height:1000px;
    float:right;
    background-color:lightgray;
    padding:20px;
    margin:0 20px;
}

.select_options{
    background-color: gray;
    padding:20px;
    margin:10px;
}

/* #start_btn{
    border-radius: 10px;
    background-color: green;
    font-size: 20px;
    font-weight: bold;
    padding:20px;
    width:100%;
} */