html {
  font: normal 14px Tahoma, Verdana, Arial, sans-serif;
}

body{
  background-color: #13284c;
  color:white;
}

header{
  color: #b1102b;
  font-size: 30px;
}

.col {
    float: left;
    padding:20px;
    min-height: 50vh;
}

.col:hover{
    background-color: #2f528f;
    transition: background-color 2s ease;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

